*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Semibold";
  src: url("fuentes/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: "Regular";
  src: url("fuentes/Metropolis-Regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("fuentes/Metropolis-Medium.otf");
}

@font-face {
  font-family: "Bold";
  src: url("fuentes/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Light";
  src: url("fuentes/Metropolis-Light.otf");
}

body{
  width: 100%;
  text-align: center;
  font-family: Arial;
}

.contenedor{
  width: 100%;
  text-align: left;
}

header{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 66px;
  transition: 0.3s;
}

.logo{
  width: 20%;
  height: 100%;
}

nav{
  width: 80%;
  max-width: 1300px;
  height: 100%;
  margin-right: 40px;
}

.menu{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 width: 100%;
 height: 100%;
 list-style: none;
}

.item{
 margin: 0 20px 0 20px;
}

.item a{
  color: white;
  font-family: "Regular", Arial;
  font-size: 13px;
  text-decoration: none;
  transition: 0.2s;
  font-weight: normal;
}

.boton_vinculate{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 56%;
  width: 100px;
  border-radius: 50px;
  transition: 0.2s;
}

.boton_vinculate a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Semibold", Arial;
  width: 100%;
  height: 100%;
}

.invisible{
  z-index: 3;
  position: fixed;
  margin-top: -80px;
  height: 64px;
  background-color: white;
  border-bottom: 0.2px solid #F3F3F3;
}

.invisible .itemli{
  color: #757575;
}

.invisible .boton_vinculate a{
  color: white;
  transition: 0.2s;
}

.invi{
  background-color: #FF5A76;
}

/* --------------------- Termina el header ------------------- */

.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(imagenes/home.png) center center;
  background-size: cover;
}

.conte_home{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  margin-left: 9vw;
}

.titulo{
  color: white;
  font-family: "Semibold", Arial;
  font-size: 2.6em;
  max-width: 639px;
  font-weight: normal;
}

.subtitulo{
  color: white;
  font-family: "Regular", Arial;
  font-size: 16px;
  max-width: 430px;
  margin-top: 32px;
  font-weight: normal;
  line-height: 24px;
}

.redes{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 18px;
  width: 150px;
  margin-top: 45vh;
}

.item_redes{
  width: 18px;
  height: 100%;
  margin: 0 10px 0 10px;
}

/* --------------------- Termina el home ------------------- */

.quienes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #FBFBFB;
}

.subti{
  font-family: "Bold", Arial;
  font-size: 28px;
  margin-top: 120px;
  color: #1E1E1E;
}

.quienes p{
  text-align: center;
  max-width: 830px;
  font-family: "Light", Arial;
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-top: 56px;
  margin-bottom: 120px;
}

/* --------------------- Termina Quienes somos ------------------- */

.mvion{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.img_mv{
  width: 400px;
  height: 400px;
  min-width: 400px;
}

.img_mv img{
  width: 100%;
  height: 100%;
  transition: 2s;
}

.img_mv:hover img{
  transform: scale(1.1, 1.1);
}

.mision{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 100px 0;
}

.mision figure{
  margin-left: 120px;
}

.mstext{
  text-align: left;
  max-width: 488px;
  font-family: "Light", Arial;
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  margin-top: 48px;
  margin-bottom: 140px;
}

.vision{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.vision figure{
  margin-right: 120px;
}

/* --------------------- Termina Mision y Vision ------------------- */

.programas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #FBFBFB;
}

.losprogram{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 711px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.pro{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlace_pro{
  width: 325px;
  height: 392px;
  margin: 41px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 18px -5px rgba(204,204,204,1);
  box-shadow: 0px 0px 18px -5px rgba(204,204,204,1);
  transition: 0.2s;
}

.enlace_pro:hover{
  -webkit-box-shadow: 0px 12px 28px -5px rgba(204,204,204,1);
  -moz-box-shadow: 0px 12px 28px -5px rgba(204,204,204,1);
  box-shadow: 0px 12px 28px -5px rgba(204,204,204,1);
}

.imagen{
  width: 100%;
  height: 95px;
  background-color: black;
  background-size: cover;
}

.img_uno_pro{
  background: url("imagenes/uno_pro.jpg") center center;
}

.img_dos_pro{
  background: url("imagenes/dos_pro.jpg") center center;
}

.img_tres_pro{
  background: url("imagenes/tres_pro.jpg") center center;
}

.img_cuatro_pro{
  background: url("imagenes/cuatro_pro.jpg") center center;
}

.sub_pro{
  font-family: "Semibold", Arial;
  font-size: 18px;
  color: #1E1E1E;
  margin: 31px 27px;
  width: 190px;
}

.txt_pro{
  font-family: "Light", Arial;
  font-size: 14px;
  width: 247px;
  line-height: 24px;
  color: #757575;
  margin-left: 27px;
  margin-bottom: 37px;
}

.seguir{
  font-family: "Semibold", Arial;
  font-size: 12px;
  color: #FF5A76;
  margin-left: 27px;
}

.pro_uno{
  display: none;
  width: 80%;
  height: 80%;
  position: absolute;
}

/* --------------------- Termina Nuestros programas ------------------- */

.vinculate{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FF5A76;
}

.cont_vin{
  width: 900px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cont_txt_vin{
  width: 50%;
}

.sub_vin{
  font-family: "Bold", Arial;
  font-size: 22px;
  color: white;
  padding-top: 58px;
  margin-left: 50px;
}

.txt_vin{
  font-family: "Light", Arial;
  font-size: 16px;
  color: white;
  width: 300px;
  padding-top: 23px;
  line-height: 24px;
  padding-bottom: 58px;
  margin-left: 50px;
}

.formulario{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
}

.vinculate_form{
  box-sizing: border-box;
  padding-left: 20px;
  width: 280px;
  height: 53px;
  background-color: #FE4263;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Semibold", Arial;
}

::placeholder{
  color: #FF8A9E;
  font-size: 16px;
  font-family: "Semibold", Arial;
}

.vinculate_boton{
  width: 53px;
  height: 53px;
  background-color: white;
  border: none;
  cursor: pointer;
}
